.home-contents {
  margin: 0 15%;
}

.information-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

/* .about-row img {
  width: 50%;
  float: left
} */

.information-grid img {
  width: 100%;
}

ul {
  padding-left: 20px;
}

@media screen and (max-width: 500px) {
  .information-grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .about-row {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
  }
}